process {
  executor = 'local'
  shell = ['/bin/bash','-euo','pipefail','-c']
  beforeScript = 'chmod +x .command.sh || true'
}

// (opcional) si sospechas de un volumen no ejecutable, usa un workdir en tu $HOME
workDir = "$HOME/.nextflow_work"

trace {
  enabled    = true
  file       = 'trace.txt'
  overwrite  = true
}
report.enabled   = true
timeline.enabled = true
dag.enabled      = false