params.outdir  = params.outdir  ?: "${projectDir}/results"
params.reports = params.reports ?: "${projectDir}/reports"

process {
  withLabel: small { cpus = 2; memory = '4 GB' }
  executor = 'local'
}

// Deshabilitados por defecto (tú decides con -with-*)
report {
  enabled   = false
  file      = "${params.reports}/nf-report.html"
  overwrite = true
}
timeline {
  enabled = false
  file    = "${params.reports}/nf-timeline.html"
}
trace {
  enabled   = false
  file      = "${params.reports}/nf-trace.txt"
  overwrite = true
}
dag {
  enabled = false
  file    = "${params.reports}/nf-dag.svg"
}
