process {
  executor = 'local'
  shell = ['/bin/bash','-euo','pipefail','-c']
  beforeScript = 'chmod +x .command.sh || true'
}

workDir = "$projectDir/work"  // evita volúmenes no ejecutables del repo

trace {
  enabled    = true
  file       = 'trace.txt'
  overwrite  = true
}
report.enabled   = true
timeline.enabled = true
//dag.enabled      = false